# DATABASE_URL: Transaction Pooler URL (Port 6543)
DATABASE_URL="postgres://postgres.gwf...:[YOUR_PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# DIRECT_URL: Session Pooler / Direct URL (Port 5432)
DIRECT_URL="postgres://postgres.gwf...:[YOUR_PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

# Auth Secret (Keep this)
AUTH_SECRET="supersecretkey123"
